@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;700;900&display=swap");

:root {
  --primaryColor: hsl(228, 66%, 53%);
  --primaryColorLight: hsl(223, 100%, 97%);
  --primaryColorDark: hsl(216, 58%, 28%);
  --gradientLight: rgb(114, 145, 255);
  --bgColor: hsl(0, 0%, 100%);
  --formColor: hsl(20, 42%, 87%);
  --whiteColor: hsl(240, 25%, 97%);
  --blackColor: hsl(0, 0%, 18%);
  --blackColorLight: hsl(233, 3%, 51%);
  --shadowColor: hsl(219, 63%, 95%);
  --inputColor: hsl(330, 12%, 97%);
  --cardColor: hsl(300, 3%, 94%);
  --orangeColor: hsl(25, 84%, 53%);
  --biggestFontSize: 2.5rem;
  --h1FontSize: 1.6rem;
  --h2FontSize: 1.25rem;
  --h3FontSize: 1rem;
  --normalFontSize: 0.938rem;
  --smallFontSize: 0.813rem;
  --smallestFontSize: 0.75rem;
  --borderRadius: 10px;
}

.About {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  padding: 2rem;
  margin-bottom: 30rem;
  color: #fff;
}

.part {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.part3 {
  padding: 4rem;
}

.arrowImage {
  max-width: 20%;
  transform: translateX(-180px) translateY(-60px);
}

.aboutImage {
  width: 600px;
  transform: translateX(-50px);
}

.aboutImageP {
  width: 600px;
  transform: translateX(-45px) translateY(-55px);
}

.aboutImageA {
  width: 80px;
  transform: translateX(135px) translateY(-70px);
}

.usImage {
  max-width: 30%;
  transform: translateX(170px) translateY(15px);
}

.ganeshCodingImage {
  max-width: 96%;
  transform: translateX(10px) translateY(25px);
}

.arrowImage {
  position: absolute;
}

.arrow1 {
  top: -20px; /* Adjust positioning */
  left: 10%; /* Adjust positioning */
  transform: translateX(390px) translateY(-30px);
}

.arrow2 {
  max-width: 40%;
  top: 10px; /* Adjust positioning */
  right: 15%; /* Adjust positioning */
  transform: translateX(-280px) translateY(250px);
}

.textContainer {
  display: flex;
  color: white;
  text-align: justify;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transform: translateX(50px) translateY(220px);
}

.description {
  font-size: 1rem;
  margin: 1rem 0;
  color: azure;
  text-align: justify;
  transform: translateX(10px) translateY(30px);
  max-width: 80%;
}

.description2 {
  font-size: 1rem;
  margin: 1rem 0;
  color: azure;
  text-align: justify;
  max-width: 100%;
  transform: translateX(-40px) translateY(-140px);
}

@media screen and (max-width: 1024px) {
  .About {
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .arrowImage {
    max-width: 30%;
    transform: none;
  }

  .aboutImage, .usImage, .aboutImageP, .aboutImageA {
    max-width: 80% ;
    transform: none;
  }

  .usImage{
    max-width: 20% ;
  }

  .ganeshCodingImage {
    max-width: 80%;
    transform: none;
  }

  .textContainer {
    transform: none;
    text-align: center;
  }

  .description, .description2 {
    transform: none;
    max-width: 90%;
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 768px) {
  .arrowImage {
    display: none;
  }

  .description {
    font-size: 0.9rem;
  }
  .About{
    margin-left: 5rem;
  }
}

@media screen and (max-width: 480px) {
  .description {
    font-size: 0.8rem;
  }
  .part3 {
    padding:0 ;
  }
}

@media screen and (max-width: 375px) {
  .About{
    padding: 0;
  }
  .description {
    font-size: 0.8rem;
  }
  .part3 {
    padding:0 ;
  }
}
